
/* VARIABLES */

:root{
    --fill-dark: #14264A; 
    --fill-darker: #0e1c36;
    --color-secondary:#ed8eff;
    --color-secondary-lighter:#f994ff  ;
    --fill-white: #fffdfd;
    --gradient:linear-gradient(deg, rgba(14,28,54,1) 0%, rgba(20,38,74,1) 36%, rgba(150,115,217,1) 96%, rgba(237,142,255,1) 100%);
}


/* RESET */

*{
    font-family: 'Gantari', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
    border: none;
    transition: .5s ease-in-out;
    letter-spacing: 0.23px;

}




/* GENERAL */

*::selection{
    background: var(--color-secondary);
    color: var(--fill-white);

}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    background-color: var(--fill-darker);
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
}

section{
    min-height: 100vh;
    padding: 0 9%;
    padding-top: 7.5rem;
    padding-bottom: 2rem;

}

p, h1, h2, h3, a{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
  
}

p, a{
    font-style: normal;
    font-weight: 500;
}

h1, h2, h3{
    font-weight: 800;
    font-style: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    
}


.btn{
    display: inline-block;
    margin-top: 1rem;
    padding: 1.2rem 3rem;
    border-radius: 5rem;
    background: var(--color-secondary);
    font-size: 1.7rem;
    color: var(--fill-darker);
    cursor: pointer;
    transition: .5s;
    text-transform: uppercase;
    font-family: 'Gantari', sans-serif;
}

.btn:hover{
   background: var(--color-secondary-lighter);
   transform: scale(1.03);

}


.heading{
    text-align: center;
    background: var(--color-secondary);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 3.5rem;
    text-transform: uppercase;
    padding: 1rem;
}

.fa-solid, .fa-regular{
    font-size: 6rem;
    color: var(--color-secondary);
}


/* underline animation */
  
.underline {
    display: inline;
    position: relative;
    overflow: hidden;
 }

.underline:after {
    content: "";
    position: absolute;
    z-index: -1;
    right: 0;
    width: 0;
    bottom: -5px;
    background: var(--color-secondary);
    height: 2px;
    transition-property: width;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
}

.underline:hover:after,
.underline:focus:after,
.underline:active:after {
    left: 0;
    right: auto;
    width: 100%;
}


/* HEADER */

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background: var(--fill-dark);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    text-transform: capitalize;
}

.navbar__list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
} 

.navbar__item{
    padding: .3rem .8rem;
    margin-left: 2rem;
    font-size: 1.39rem;
    color: var(--fill-white);
}

.navbar__item:hover{
    color: var(--color-secondary);
    font-size: 1.49rem;
}

.navbar__download{
    background-color:  var(--color-secondary);
    border-radius: 30px;
    padding: 1rem 2.3rem;
    color: var(--fill-darker);
    font-weight: 400;
}

.navbar__download:hover{
    background-color:  var(--color-secondary-lighter);
    color: var(--fill-darker);
    
}

.logo{
    font-size: 2rem;
    color: var(--fill-white);
    text-transform: lowercase;
}

.fa-logo{
    font-size: 2rem;
    padding: 1rem;
    color: var(--fill-white);
}

header input{
    display: none;
}


header label{
    font-size: 3rem;
    color: var(--color-secondary);
    cursor: pointer;
    visibility: hidden;
    opacity: 0;

}

.btn-learn{
    margin: 2rem;
    background-color: unset;
    border: 1px solid var(--color-secondary);
    color: var(--fill-white);

}

.btn-learn:hover{
    color: var(--fill-darker);
}




/* HOME */

.home{
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../assets/images/home-bg-img@3x.png) no-repeat;
    background-size: cover;
    background-position: center;
}



.home .image img{
    width: 33vw;
    transition: 0s;

}


.home__subtitle{
    font-size: 7.5rem;
    line-height: 1.2;
    color: var(--fill-white);
  
  

}

.home__paragraph{
    font-size: 1.7rem;
    color: var(--fill-white);
    padding: 1rem 0;


}


/* FEATURES */

.features{
    height: 100%;
}


.features__container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}

.container__box{
    flex: 1 1 30rem;
    background:var(--fill-dark);
    border-radius: .5rem;
    border:.1rem solid rgba(0,0,0,.2);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    margin:1.5rem;
    padding:4rem 2rem;
    border-radius: .5rem;
    text-align: center;
    transition: .2s linear;
    height: 400px;
}

.container__box:hover{
    transform: scale(1.04);
}

.features__img{
    height: 15rem;
}

.features__subtitle{
    font-size: 3rem;
    color: var(--fill-white);
    font-weight: 600;
    padding-top: 1rem;
    text-transform: none;
    line-height: 1.4;
}

.features__paragraph{
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--fill-white);
    padding: 2rem 1rem;
    text-transform: none;
}


/* ABOUT */

.about{
    background:url(../assets/images/about-bg@3x.png) no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 3rem;
}

.about__column{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.about__column .image{
    flex:1 1 30rem;
}

.about__column .image img{
    width:60%;
    transition: none;
}

.about__content{
    flex:1 1 30rem;
}

.about__subtitle{
    font-size: 4rem;
    color:var(--color-secondary);
    text-transform: none;
}

.about__paragraph{
    font-size: 1.7rem;
    color:var(--fill-white);
    padding:1rem 0;
  
}

.buttons{
    margin-bottom: 4rem;
}



.buttons a:last-child{
    margin-left: 2rem;
}


/* REVIEWS */


.review{
    width: 100%;
    
}

.review__wrap{
    position: relative;
    width: 100%;
    max-width: 1020px;
    padding: 9rem 7rem 2rem;
    margin: auto;
    background-color: var(--fill-dark);

    
}
.arrow{
    display: block;
    position: absolute;
    color: var(--color-secondary);
    cursor: pointer;
    font-size: 2em;
    top: 50%;
    transform: translateY(-50%);
    padding: 5px;
    z-index: 22222222;
}
.arrow:before{
    cursor: pointer;
}
.arrow.left{
    left: 15px;
}
.arrow.right{
    right: 15px;
}
.arrow:hover{
    color: var(--color-secondary-lighter);
}
.dots{
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 60px;
    left: 0;
    display: block;
    z-index: 3333;
    height: 12px;
}
.dots .dot{
    list-style-type: none;
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid var(--fill-white);
    margin: 0 10px;
    cursor: pointer;
    position: relative;
}
.dots .dot.active,
.dots .dot:hover{
background: var(--color-secondary-lighter);
border-color: var(--color-secondary-lighter);
}

.active{
    opacity: 1;
}

.inactive{
    opacity: 0;
}


.cont{
    position: relative;
    overflow: hidden;
}

.cont > div{
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 0 70px 0;
    opacity: 0;
    
}

.cont > div.inactive{
    opacity: 0;
}

.cont > div.active{
    position: relative;
    opacity: 1;  
}

.cont div .img img{
    display: block;
    width: 100px;
    height: 100px;
    margin: auto;
    border-radius: 50%;
}

.cont div h2{
    color: var(--color-secondary);
    font-size: 2.3em;
    margin: 15px 0;
    text-transform: none;
}

.cont div p{
    font-size: 1.6em;
    color: var(--fill-white);
    width: 80%;
    margin: auto;
}


/* DOWNLOAD */

.download{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 2rem;
    background: var(--color-secondary);
   
}

.download__title{
    font-size: 10rem;
    width: 80%;
    line-height: 1.3;
    color: var(--fill-darker);
    padding-bottom: 3rem;

}

.btn-get{
    border: 1px solid var(--fill-dark);
    color: var(--fill-darker);
    transition: .3s;
}

.btn-get i{
    transition: none;
}

.btn-get .fa-apple{
    padding-right: 1rem;
}

.btn-get .fa-google-play{
    padding-right: .7rem;
}



.btn-get:hover{
    background-color: var(--fill-dark);
    color: var(--fill-white);
}

.top{
    align-self: flex-end;
    font-size: 2rem;
    text-transform: uppercase;
    padding: 1rem;
    color: var(--fill-darker);
}

.top:hover{
    transform: scale(1.03);
}

.top .fa-solid{
    font-size: 3rem;
    color: var(--fill-darker);
    padding: 1rem;
}

.fa-arrow-up{
    animation: upDown 2s infinite ease-in-out;
}

@keyframes upDown{
    0%, 100%{
        transform: translateY(0);
    }

    50%{
        transform: translateY(-5px);
    }
}


/* FOOTER */

.footer{
    padding-top: 3rem;

}

.footer__container{
    display: flex;
    flex-wrap: wrap;
}

.footer__container-box{
    flex: 1 1 25rem;
    margin: 2rem;
    margin-bottom: 6rem;
    margin-left: 7rem;
}

.footer__subtitle, .footer__text{
    font-size: 2.5rem;
    padding: 1rem 0;
    color: var(--fill-white);
    
}

.footer__logo{
    font-weight: 300;
    text-transform: lowercase;
    letter-spacing: .5px;
    text-align: center;
    font-size: 3rem;
    margin-left: 8rem;
}

.footer__text{
    margin-top: -7%;
   text-align: left;
   margin-left: 11.8rem;
}

.footer__text, .footer__link{
    font-size: 1.5rem;  
}

.footer__link{
    display: block;
    color: var(--fill-white);
    text-transform: capitalize;
}

.footer__link:hover{
    text-decoration: underline;
}

.copyright{
    font-size: 1rem;
    font-weight: normal;
    letter-spacing: .1rem;
    color: var(--fill-white);
    border-top: .1rem solid var(--fill-white);
    padding: 2.5rem 1rem;
    text-align: center;
}




/* REVEAL ON SCROLL */

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;
}

.reveal.active{
    transform: translateY(0px);
    opacity: 1;
}


// CASE STUDY

.case-study{
    padding-top: 15rem;
    line-height: 1.5;
   
}

.case-study__container{
  padding: 0 115px;
}

.container__wrapper{
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 115px;
    position: relative;
    overflow-wrap: break-word;
    font-size: 1.125rem;
}

.title{
 font-size: 8rem;
 padding-bottom: 3rem;
 color: var(--color-secondary);
}

.subtitle{
    font-size: 4rem;
    color: var(--fill-white);
    margin-bottom: -2%;
    margin-top: 2%;
    font-weight: 500;
    text-transform: none;
}

.case-study__p, .p__list-el{
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.75;
    margin-top: 1em;
    margin-bottom: 1em;
    color: var(--fill-white);

}

.p__list-el{
    list-style: none;
    font-style: italic;
}


.case-study__img{
    display: block;
    padding: 0;
    border-radius: 3px;
    max-width: 100%;
}

.img-font{
    padding-top: 10%;
}




/* MEDIA QUERIES */

@media all and (max-width: 300px) {
    body {
        font-size: 14px;
    }
}
@media all and (max-width: 500px) {

    .review .arrow{
        font-size: 1.5rem;
    }
    .review .cont div p{
        line-height: 25px;
    }

    .footer__container{
        text-align: center;
        margin: 0 auto;
    }

    .footer__logo{
        margin: 0;
    }

    .footer__text{
        margin-right: 7rem;
    }


}


@media screen and (max-width: 1200px){
    html{
        font-size: 65%;
        overflow-x: hidden;
    }
}

@media screen and (max-width: 991px){
    section{
        padding: 1rem;

    }

    .header{
        white-space: nowrap;
    }

    .home .content{
        padding: 4rem;
    }

    .btn-learn{
        margin-left: .61rem;
    }

    .about{
        
        padding-top: 5%;
        padding-bottom: 5%;
        padding: 2rem 3rem;
    }
    
    .about__column .image{
        flex:1 1 25rem;
    }
    
    .about__column .image img{
        width:60%;
        margin-left: 8rem;
        margin-top: 4rem;
        margin-bottom: 3rem;
    }

    .download__title{
        font-size: 5rem;
    }


    .buttons{
        flex-direction: column;
    }

    .download .buttons a:last-child{
        margin: 0;

    }
    
    .footer{
        margin: 0;
    }

}


@media screen and (max-width: 768px){
    header label{
        visibility: visible;
        opacity: 1;
    }

    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: var(--fill-dark);
        padding: 2rem;
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
        transform-origin: top;
        transform: scaleY(0);
        opacity: 0;
    }

    .navbar__list{
        margin: 2rem 0;
        font-size: 2.5rem;
        flex-direction: column;
    }


    .navbar__item{
        padding-bottom: 3rem;
    }

    .navbar__download{
        padding: .5rem 1rem;
        margin-bottom: 0;
        padding-bottom: auto;
    }

    header input:checked ~ .navbar{
        transform: scaleY(1);
        opacity: 1;
    }

    header input:checked ~ label::before{
        content: '\f00d';

    }

    .home{
        flex-flow: column-reverse;
    }

    .home .image img{
       display: none;
    }

    .home__subtitle{
        font-size: 3.6rem;
    }

    .home__paragraph{
        font-size: 1.5rem;
    }

    .container__box{
        height: 100%;
    }

    .about{
        background-position: right;
    }


}

@media screen and (max-width: 450px) {
    html{
        font-size: 50%;
    }

    .buttons a{
        text-align: center;
    }

    .buttons a:last-child{
        margin-left: 1rem;
        
    }
}

@media screen and (max-width: 1100px) {
    .container__box{
        height: 100%;
    };
}


