
/* VARIABLES */

:root{
    --fill-dark: #14264A; 
    --fill-darker: #0e1c36;
    --color-secondary: #ed8eff;
    --color-secondary-lighter: #ff8eef;
    --fill-white: #fffdfd;
    --gradient:linear-gradient(349deg, rgba(30,5,40,1) 0%, rgba(55,43,105,1) 29%, rgba(76,79,175,1) 61%, rgba(187,134,252,1) 96%, rgba(239,112,245,1) 100%);

}


/* RESET */

*{
    font-family: 'Gantari', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
    border: none;
    transition: .5s ease-in-out;
    letter-spacing: 0.23px;

}




/* GENERAL */

*::selection{
    background: var(--color-secondary);
    color: var(--fill-white);

}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    background-color: var(--fill-darker);
}

section{
    min-height: 100vh;
    padding: 0 9%;
    padding-top: 7.5rem;
    padding-bottom: 2rem;

}

p, h1, h2, h3, a{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
  
}

p, a{
    font-weight: 200;
    font-style: normal;
}

h1, h2, h3{
    font-weight: 800;
    font-style: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    
}


.btn{
    display: inline-block;
    margin-top: 1rem;
    padding: 1.2rem 3rem;
    border-radius: 5rem;
    background: var(--color-secondary);
    font-size: 1.7rem;
    color: var(--fill-darker);
    cursor: pointer;
    transition: .5s;
    text-transform: uppercase;
    font-family: 'Gantari', sans-serif;
}

.btn:hover{
   background: var(--color-secondary-lighter);
}


.heading{
    text-align: center;
    background: var(--color-secondary);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 3.5rem;
    text-transform: uppercase;
    padding: 1rem;
}

.fa-solid, .fa-regular{
    font-size: 6rem;
    color: var(--color-secondary);
}

/* HEADER */

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--fill-dark);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    text-transform: capitalize;
}

.navbar__list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
} 

.navbar__item{
    padding: .3rem .8rem;
    margin-left: 2rem;
    font-size: 1.39rem;
    color: var(--fill-white);
}

.navbar__item:hover{
    color: var(--color-secondary);
}

.navbar__download{
    background-color:  var(--color-secondary);
    border-radius: 30px;
    padding: 1rem 2.3rem;
    color: var(--fill-darker);
    font-weight: 400;
}

.navbar__download:hover{
    background-color:  var(--color-secondary-lighter);
    color: var(--fill-darker);
    
}

.logo{
    font-size: 2rem;
    color: var(--fill-white);
    text-transform: lowercase;
}

.fa-logo{
    font-size: 2rem;
    padding: 1rem;
    color: var(--fill-white);
}

header input{
    display: none;
}


header label{
    font-size: 3rem;
    color: var(--color-secondary);
    cursor: pointer;
    visibility: hidden;
    opacity: 0;

}

.btn-learn{
    margin: 2rem;
    background-color: unset;
    border: 1px solid var(--color-secondary);
    color: var(--fill-white);

}

.btn-learn:hover{
    color: var(--fill-darker);
}




/* HOME */

.home{
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../images/home-bg-img@3x.png) no-repeat;
    background-size: cover;
    background-position: center;
}



.home .image img{
    width: 33vw;
    transition: 0s;

}


.home__subtitle{
    font-size: 7.5rem;
    line-height: 1.2;
    color: var(--fill-white);
  
  

}

.home__paragraph{
    font-size: 1.7rem;
    color: var(--fill-white);
    width: 50ch;
    padding: 1rem 0;


}


/* FEATURES */


.features__container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.container__box{
    flex: 1 1 30rem;
    background:var(--fill-dark);
    border-radius: .5rem;
    border:.1rem solid rgba(0,0,0,.2);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    margin:1.5rem;
    padding:3rem 2rem;
    border-radius: .5rem;
    text-align: center;
    transition: .2s linear;
    height: 400px;
}

.container__box:hover{
    transform: scale(1.02);
}

.features__img{
    height: 15rem;
}

.features__subtitle{
    font-size: 3rem;
    color: var(--fill-white);
    font-weight: 600;
    padding-top: 1rem;
    text-transform: none;
    line-height: 1.4;
}

.features__paragraph{
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--fill-white);
    padding: 2rem 1rem;
    text-transform: none;
}


/* ABOUT */

.about{
    background:url(../images/about-bg@3x.png) no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 3rem;
}

.about__column{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.about__column .image{
    flex:1 1 30rem;
    transform: translateX(-10%)
}

.about__column .image img{
    width:70%;
}

.about__content{
    flex:1 1 30rem;
}

.about__subtitle{
    font-size: 3rem;
    color:var(--color-secondary);
    text-transform: none;
}

.about__paragraph{
    font-size: 1.5rem;
    color:var(--fill-white);
    padding:1rem 0;
}



.buttons a:last-child{
    margin-left: 2rem;
}


/* REVIEWS */


.review{
    width: 100%;
    
   
}
.review__wrap{
    position: relative;
    width: 100%;
    max-width: 1020px;
    padding: 9rem 7rem 2rem;
    margin: auto;
    background-color: var(--fill-dark);
   
    
    
}
.arrow{
    display: block;
    position: absolute;
    color: var(--color-secondary);
    cursor: pointer;
    font-size: 2em;
    top: 50%;
    transform: translateY(-50%);
   
    padding: 5px;
    z-index: 22222222;
}
.arrow:before{
    cursor: pointer;
}
.arrow.left{
    left: 15px;
}
.arrow.right{
    right: 15px;
}
.arrow:hover{
    color: var(--color-secondary-lighter);
}
.dots{
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 60px;
    left: 0;
    display: block;
    z-index: 3333;
    height: 12px;
}
.dots .dot{
    list-style-type: none;
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid var(--fill-white);
    margin: 0 10px;
    cursor: pointer;
   
    position: relative;
}
.dots .dot.active,
.dots .dot:hover{
background: var(--color-secondary-lighter);
border-color: var(--color-secondary-lighter);
}

.active{
    opacity: 1;
}

.inactive{
    opacity: 0;
}


.cont{
    position: relative;
    overflow: hidden;
    
}
.cont > div{
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 0 70px 0;
    opacity: 0;
    
}
.cont > div.inactive{
    opacity: 0;
}
.cont > div.active{
    
    position: relative;
    opacity: 1;
    
}
.cont div .img img{
    display: block;
    width: 100px;
    height: 100px;
    margin: auto;
    border-radius: 50%;
}
.cont div h2{
    color: var(--color-secondary);
    font-size: 2.3em;
    margin: 15px 0;
    text-transform: none;
}
.cont div p{
    font-size: 1.6em;
    color: var(--fill-white);
    width: 80%;
    margin: auto;
}


/* DOWNLOAD */

.download{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 5rem;
   
    background: var(--color-secondary);
 
   
   
}

.download__title{
    font-size: 10rem;
    width: 80%;
    line-height: 1.3;
    color: var(--fill-darker);
    padding-bottom: 3rem;

}

.btn-get{
    border: 1px solid var(--fill-dark);
    color: var(--fill-darker);
}

.btn-get:hover{
    background-color: var(--fill-dark);
    color: var(--fill-white);
}

.top{
    align-self: flex-end;
    font-size: 2rem;
    text-transform: uppercase;
  
    padding: 1rem;
    color: var(--fill-darker);
}

.top .fa-solid{
    font-size: 3rem;
    color: var(--fill-darker);
    padding: 1rem;
}


/* FOOTER */

.footer{
    background-color: var(--fill-dark);
    position: relative;
}

.footer__nav{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 4rem 6rem;
    font-size: 2rem;
}

.footer__nav-list{
    display: flex;
    text-align: center;

}

.footer__nav-list li{
    flex-direction: row;
    padding: 3rem;
    align-items: flex-end;
    justify-content: right;
}

.footer__nav-list li a{
    align-items: flex-end;
   padding: 1rem;
}


/* REVEAL ON SCROLL */

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;
}

.reveal.active{
    transform: translateY(0px);
    opacity: 1;
}





/* MEDIA QUERIES */

@media all and (max-width: 300px) {
    body {
        font-size: 14px;
    }
}
@media all and (max-width: 500px) {
    .review .arrow{
        font-size: 1.5rem;
    }
    .review .cont div p{
        line-height: 25px;
    }
}


@media screen and (max-width: 1200px){
    html{
        font-size: 55%;
        overflow-x: hidden;
    }
}

@media screen and (max-width: 991px){
    section{
        padding: 0 3%;

    }

    .about{
        padding-top: 5%;
        padding-bottom: 5%;
    }
    
    .about__column .image{
        flex:1 1 25rem;
        transform: translateX(10%)
    }
    
    .about__column .image img{
        width:60%;
    }

    .download__title{
        font-size: 8rem;
    }
}


@media screen and (max-width: 768px){
    header label{
        visibility: visible;
        opacity: 1;
    }

    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: var(--fill-dark);
        padding: 2rem;
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
        transform-origin: top;
        transform: scaleY(0);
        opacity: 0;
    }

    .navbar__list{
        margin: 2rem 0;
        font-size: 2.5rem;
        flex-direction: column;
    }

    

    .navbar__item{
        padding-bottom: 3rem;
    }

    .navbar__download{
        padding: .5rem 1rem;
        margin-bottom: 0;
        padding-bottom: auto;
    }

    header input:checked ~ .navbar{
        transform: scaleY(1);
        opacity: 1;
    }

    header input:checked ~ label::before{
        content: '\f00d';

    }

    .home{
        flex-flow: column-reverse;
    }

    .home .image img{
       display: none;
    }

    .home__subtitle{
        font-size: 3.6rem;
    }

    .home__paragraph{
        font-size: 1.5rem;
    }

    .container__box{
        height: 100%;
    }

    .about{
        background-position: right;
    }


}

@media screen and (max-width: 450px) {
    html{
        font-size: 50%;
    }

    .buttons a{
       
        text-align: center;
    }

    .buttons a:last-child{
        margin-left: 5rem;
        
    }
}

@media screen and (max-width: 1100px) {
    .container__box{
        height: 100%;
        max-width: 70ch
    };
}


